# S3

First we define a simple, but exensively used in R, class system called S3.

## Object definition

In this system you simply declare what is a class of your new object simply by assigning to it a class vector.

In [1]:
a <- 2
class(a)
is.object(a)

[1] "numeric"

[1] FALSE

In [2]:
class(a) <- "useless"
class(a)
is.object(a)

[1] "useless"

[1] TRUE

It is a strange object. If you want more classical one you can use list.

In [3]:
a <- list(id=100, name="Alan")
class(a)
is.object(a)
print(a)

[1] "list"

[1] FALSE

$id
[1] 100

$name
[1] "Alan"

In [4]:
class(a) <- "useless"
print(a)

$id
[1] 100

$name
[1] "Alan"

attr(,"class")
[1] "useless"

## Method dispach

In [5]:
class(a)
print.useless <- function(a) {paste(a$id, a$name)}
print(a)

[1] "useless"

[1] "100 Alan"

### New method

In [6]:
uselessFun <- function(x) UseMethod("uselessFun")

uselessFun.default <- function(x) print('Hello')
uselessFun(100)
    
uselessFun.useless <- function(x) print('Hola')
uselessFun(a)

[1] "Hello"
[1] "Hola"

In [7]:
b <- list(id=50, name="David")
class(b) <- "useless"

"+.useless" <- function(a, b) {list(id=a$id+b$id, name=paste(a$name, b$name))}
a + b
a + 100

$id
[1] 150

$name
[1] "Alan David"

ERROR: Error in b$id: $ operator is invalid for atomic vectors

### Double dispach

In [15]:
"%+useless%" <- function(a, b) UseMethod('%+useless%')
    
"%+useless%.default" <- function(a, b) "HaHaHa"
"%+useless%.useless" <- function(a, b) list(id=a$id+b$id, name=paste(a$name, b$name))
"%+useless%.numeric" <- function(a, b) list(id=a+b$id, name=b$name)
"%+useless%.character" <- function(a, b) list(id=b$id, name=paste(b$name, a))
    
"+.useless" <- function(a, b) b %+useless% a

a + b
a + 100
a + "Hola"

$id
[1] 150

$name
[1] "David Alan"

$id
[1] 200

$name
[1] "Alan"

$id
[1] 100

$name
[1] "Alan Hola"

## Inheritance

In [16]:
a2 <- a
class(a2) <- c("useful", class(b))
print(class(a2))
print.useful <- function(b) print("I'm very useful")
print(a2)

[1] "useful"  "useless"
[1] "I'm very useful"