# S3

First we define a simple, but exensively used in R, class system called S3.

## Object definition

In this system you simply declare what is a class of your new object simply by assigning to it a class vector.

In [11]:
a <- 2
class(a)
is.object(a)

[1] "numeric"

[1] FALSE

In [9]:
class(a) <- "useless"
class(a)
is.object(a)

[1] "useless"

[1] TRUE

It is a strange object. If you want more classical one you can use list.

In [16]:
a <- list(id=100, name="Alan")
class(a)
is.object(a)
print(a)

[1] "list"

[1] FALSE

$id
[1] 100

$name
[1] "Alan"

In [24]:
class(a) <- "useless"
print(a)

[1] "100 Alan"

## Method dispach

In [31]:
class(a)
print.useless <- function(a) {paste(a$id, a$name)}
print(a)

[1] "useless"

[1] "100 Alan"

[1] FALSE

## Inheritance

In [41]:
b <- a
class(b) <- c("useful", class(b))
print(class(b))
print.useful <- function(b) print("I'm very useful")
print(b)

[1] "useful"  "useless"
[1] "I'm very useful"